html {
    height: 100%;
}

body {
    background-image: url("../assets/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.dimmed {
    position: relative;
}

.dimmed:after {
    content: " ";
    background: rgba(37, 37, 37, 0.5);
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -1;
}