html{
    font-size: 62.5%;
    
}

h1 {
    font-family: 'Fondamento', cursive;
    text-align: center;
    text-transform: uppercase;
    color: #f2ffb7;
    text-shadow: 1px 1px 2px #ffffb6;
    font-size: 6rem;
    
}

h2, 
p {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
}