.end-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 200px 0;
}

.end-page p,  
.end-page button {
    margin-top: 30px;
}

.end-page p {
    font-size: 1.75rem;
    text-align: center;
}